# IDE specific files
.idea

# Byte compiled/Cached files
**/__pycache__/
*.py[cod]

# Virtual environments
venv/
**/venv

# MacOS specific files
.DS_Store
**/.DS_Stores

#Roberta finetuning
src/Preprocessing/roBERTa_finetuning/roberta-iemocap-old
src/Preprocessing/roBERTa_finetuning/*.csv

#Dataset and pickle files
data/IEMOCAP