# IDE specific files
.idea

# Byte compiled/Cached files
**/__pycache__/
*.py[cod]

# Virtual environments
venv/
**/venv

# MacOS specific files
.DS_Store
**/.DS_Stores

#Roberta finetuning
src/roBERTa_finetuning/

#Dataset and pickle files
*.pkl
**/data/*